/*引入base样式表*/
@import url("base.css");

/*head start*/
.head{
	width: 100%;
	height: 40px;
	background-color: #333;
}
.head .h-con{
	width: 1226px;
	height: 40px;
	margin:0 auto;
}
.head .h-con .h-left{
	float: left;
	width: 403px;
	height: 40px;
	font-size: 0;
	line-height: 40px;
	
}
.head .h-con .h-left a,.head .h-con .h-right a{
	padding:0 8px;
	font-size: 12px;
	color:#b0a485;	
	border-right:1px solid #424242;
}
.head .h-con .h-left a:nth-child(1),
.head .h-con .h-right a:nth-child(1){
	padding-left:0;
}
.head .h-con .h-left a:last-child,
.head .h-con .h-right a:last-child{
	padding-right:0;
	border-right:none;
}
.head .h-con .h-right{
	float: right;
	width: 280px;
	height: 40px;
	line-height: 40px;
	font-size: 0;
}

.head .h-con .h-right a:nth-child(3){
	padding:0 12px;
}.head .h-con .h-right a:last-child{
	position: relative;
	float: right;
	width: 120px;
	height: 100%;
	background-color: #424242;	
}
.head .h-con .h-right a.shopping > i{
	position: relative;
	margin:0 4px 0 14px;	
	top: 1px;
}
.head .h-con .h-right a.shopping:hover{
	height: 40px;
	color:#FFA66A;
	background-color: #fff;
}
.head .h-con .h-right a.shopping:hover .s-child{
	height: 100px;
}
.head .h-con .h-right a.shopping .s-child{
	overflow: hidden;
	position: absolute;
	top: 40px;
	right:0;
	width: 316px;
	height: 0px;
	line-height: 100px;
	text-align: center;
	color:#333;
	background-color: #fff;
	box-shadow:0 3px 3px 0 #ccc;
	transition:.3s;
	z-index:10;
}
.head .h-con .h-left a:hover,.head .h-con .h-right a:hover{
	color:#fff;
}
/*head end*/

/*middle start*/
.middle{
	width: 1226px;
	margin:0 auto;
}

/*nav start*/
nav{
	width: 1226px;
	height: 100px;	
	overflow: hidden;
}
nav .logo{
	float: left;
	width: 55px;
	height: 55px;
	margin-top: 22px;
	margin-right: 188px;
	background: #ff6700 url(../img/mi-logo.png) no-repeat center;
	
}
nav .con{
	float: left;
	width: 600px;
	height: 100px;
}
nav .con ul{
	height: 100px;
	line-height: 100px;
}
nav .con ul li{
	float: left;
	margin-right: 20px;
	color:#333;
	font-size: 14px;
	line-height: 100px;
}
nav .con ul li a:hover{
	color:#FF6700;
}
nav .search{
	position: relative;
	float: right;
	width: 296px;
	height: 100px;
	line-height: 100px;
}
nav .search input{
	float: left;
	width: 243px;
	height: 50px;
	margin-top: 25px;
	padding:0 10px 0;
	border:1px solid #e0e0e0;
	border-right:none;
	outline: none;
	box-sizing:border-box;
}
nav .search input:focus + span{
	border:1px solid #ff5400;
	
}
nav .search input:focus{
	border:1px solid #ff5400;
	border-right:none;
}
nav .search > span{
	float: left;
	width: 50px;
	height: 48px;
	margin-top: 25px;	
	border:1px solid #e0e0e0;
	text-align: center;
	line-height: 50px;
}
nav .search > span:hover{
	background-color: #FF6700;
	color:#fff;
}
nav .search span i{	
	font-size: 26px;
}
nav .search .input-con{
	position: absolute;
	width: 150px;
	top: calc(50% - 14px);
	left: calc(50% - 75px);
	font-size: 12px;
	line-height: 30px;
}
nav .search .input-con span{
	padding:2px 3px;
	background-color: #eee;
	font-size: 12px;
	/*transition:.2s;*/
}
nav .search .input-con span:hover{
	background-color: #FF6700;
	color:#fff;
}
nav .search .input-con span:nth-child(1){
	margin-right: 2px;
}
/*nav end*/

/*banner start*/
.middle .banner{
	position: relative;
	width: 100%;
	height: 460px;
}
.middle .banner .sidebar{
	position: absolute;
	top: 0;
	left: 0;
	width: 234px;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	z-index:99;
}
.middle .banner .sidebar ul{
	padding:20px 0;
}
.middle .banner .sidebar ul li{
	height: 42px;
	padding:0 24px 0 30px;		
	line-height: 42px;
}
.middle .banner .sidebar ul li a{
	color:#fff;
	font-size: 14px;
}
.middle .banner .sidebar ul li i{
	float: right;
	color:rgba(255,255,255,.5);
	font-size: 12px;
	font-weight: bold;
}
.middle .banner .sidebar ul li:hover{
	background-color: #FF6700;
}
.middle .banner .swiper-container{
	position: relative;
	width: 100%;
	height: 100%;
}
.middle .banner .swiper-container img{
	position: absolute;
	top: 0;
	left: 0;
}
.middle .banner .swiper-container > span{
	position: absolute;
	display: block;
	width: 41px;
	height: 69px;
	background:url('../img/icon-slides.png') no-repeat center;
	z-index: 20;
}
.middle .banner .swiper-container > span.prev{	
	top: calc(50% - 34px);
	left: 234px;
	background-position: -83px 0px;
}
.middle .banner .swiper-container > span.next{	
	top: calc(50% - 34px);
	right: 0;
	background-position: -124px 0px;
}
.middle .banner .swiper-container > span.prev:hover{
	background-position: 0 0;
}
.middle .banner .swiper-container > span.next:hover{
	background-position: -42px 0;
}
.middle .banner .swiper-container .swiper-pagination{
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 90px;
	height: 10px;
	bottom: 25px;
	right: 35px;
	z-index:20;
}
.middle .banner .swiper-container .swiper-pagination .swiper-pagination-bullet{
	display: inline-block;
	width: 6px;
	height: 6px;
	border:2px solid rgba(0,0,0,0.4);
	background-color: rgba(255,255,255,0.8);
	border-radius:50%;
}

/*banner end*/

/*banner 广告位 开始*/
.info{
	margin: 0 auto;
	width: 1226px;
	height: 170px;
	/* background: red; */
	margin-bottom: 24px;
	margin-top: 14px;
}
.info .menu{
	
	float: left;
	width: 234px;
	height: 100%;
	margin-right: 14px;
	background:#5f5750;
}
.info .menu ul{
	width: 100%;
	height: 100%;
	padding: 3px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.info .menu ul li{
	/* background: red; */
	flex-shrink: 0;
	width: 70px;
	height: 82px;
	padding: 0 3px;
	box-sizing: border-box;
	position: relative;
	
}

.info .menu ul li:after{
	content: "";
	display: block;
	position: absolute;
	top: 9px;
	right:-7px ;
	width: 1px;
	height: 70px;
	background: #665e57;
}
.info .menu ul li:nth-child(3n):after{
	/* content: ""; */
	width: 0px;
	/* height: 70px; */
}
.info .menu ul li:nth-child(-n+3):before{
	content: "";
	display: block;
	width: 70px;
	height: 1px;
	position: absolute;
	background: #665e57;
	bottom: -3px;
	left: 2px;
}
.info .menu>ul>li>a{
	color: #c8cab2;
	font-size: 12px;
	text-align: center;
	display: block;
	width: 70px;
	height: 46px;
	padding-top: 18px;
	box-sizing: border-box;
	transition:0.3s;
}
.info .menu ul li:hover a,.info .menu>ul>li:hover a > i{
	color:#fff;
}
.info .menu>ul>li>a>i{
	color: #dad8c7;
	font-size: 24px;
	display: block;
	height: 24px;
	margin-bottom: 10px;
	transition:0.3s;
}
.info ul{
	float: right;
	width: 978px;
	height: 100%;
	/* background: green; */
	display: flex;
	justify-content: space-between;
}
.info ul li{
	width: 316px;
	height: 100%;
	/* background: grey; */
}
.info>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
}
.info>ul>li:first-child a{
	background: url(../img/xmad.jpg)no-repeat center;
	background-size: cover;
}
.info>ul>li:nth-child(2) a{
	background: url(../img/xmad1.jpg)no-repeat center;
	background-size: cover;
}
.info>ul>li:last-child a{
	background: url(../img/xmad2.jpg)no-repeat center;
	background-size: cover;
}
/*banner 广告位 结束*/


/*star start*/
.public ul{
	display: flex;
	justify-content: space-between;
}
.public ul li{
	width: 234px;
	height: 340px;
	background-color: #fafafa;
	text-align: center;
	box-sizing:border-box;
	cursor:pointer;
	
}
.public ul li:nth-child(1){
	border-top:1px solid #ffac13;
}

.public ul li:nth-child(2){
	border-top:1px solid #83c44e;
}

.public ul li:nth-child(3){
	border-top:1px solid #2196f3;
}

.public ul li:nth-child(4){
	border-top:1px solid #e53935;
}

.public ul li:nth-child(5){
	border-top:1px solid #00c0a5;
}
.public ul li a{
	display: block;
	width: 160px;
	height: 160px;
	margin:40px auto 20px;
}
.public ul li .title{
	font-size: 14px;
	color:#212121;
	line-height: 22px;	
}
.public ul li .desc{
	font-size: 12px;
	color:#b0b0b0;
	line-height: 22px;
	
}
.public ul li .price{
	font-size: 14px;
	color:#ff6709;
	line-height: 40px;
}
.public ul li img{
	width: 100%;
	height: 100%;
}


.middle .star{
	margin-top: 40px;
}
.public .title{
	margin-bottom: 20px;
}
.middle .star .title .t-left{
	font-size: 22px;
	font-family: '黑体';
}		
/*star end*/


/*middle end*/

/*bg start*/
.bg{
	width: 100%;
	margin-top: 40px;
	background-color: #f5f5f5;
}
/*公共的样式  开始   包括 家电   智能   搭配  配件 周边 */
.bg .content{
	width: 1226px;
	height:100%;
	margin:0 auto;
	padding:28px 0 60px 0;
}
.bg .content .pub-middle{
	width: 100%;
	margin-top: 30px;
}
.bg .content .pub-middle > .title{
	height: 60px;
	line-height: 60px;
	font-family: '黑体';
}
.bg .content .pub-middle .title .t-left{
	float: left;
	font-size: 22px;
}
.bg .content .pub-middle .title .t-right{
	float: right;
	font-size: 16px;
}
.bg .content .pub-middle .title .t-right span{
	margin-left: 22px;
	padding-bottom:5px;
	cursor:pointer;
}
.bg .content .pub-middle .title .t-right span.on{
	
	border-bottom:2px solid #ff6700;
	color:#ff6700;
}
.bg .content .pub-middle .con{
	position: relative;
	width: 100%;
	height: 614px;
}
.bg .content .pub-middle .con .con-left{
	float: left;
	width: 234px;
	height: 100%;
}
.bg .content .pub-middle .con .con-left a{
	display: block;
	width: 100%;
	height: 300px;	
	margin-right: 14px;
	transition:.4s;
}
.bg .content .pub-middle .con .con-left a:hover{
	box-shadow: 4px 8px 20px #ccc;
	transform: translateY(-2px);
}
.bg .content .pub-middle .con .con-left a + a{
	margin-top: 14px;
}

.bg .content .pub-middle .con .con-right{
	display: none;
	position: absolute;
	float: right;
	right: 0;
	top: 0;
	width: 978px;
	height: 100%;
}

.bg .content .pub-middle .con .con-right.on{
	display: block;
}
.bg .content .pub-middle .con .con-right ul{
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
}

.bg .content .pub-middle .con .con-right ul li{
	position: relative;
	width: 234px;
	height: 300px;	
	background-color: #fff;
	transition:.4s;	
}
.bg .content .pub-middle .con .con-right ul li:nth-child(-n+7){
	overflow: hidden;
	text-align: center;
}
.bg .content .pub-middle .con .con-right ul li:nth-child(-n+7):hover{
	box-shadow: 4px 8px 20px #ccc;
	/*transform: translateY(-2px);*/
	margin-top: -2px;
}
.bg .content .pub-middle .con .con-right ul li:last-child{
	background-color: inherit;
}
.bg .content .pub-middle .con .con-right ul li:last-child > a{
	display: block;
	height: 143px;
	transition:.4s;
}
.bg .content .pub-middle .con .con-right ul li:last-child > a:hover{
	box-shadow: 4px 8px 20px #ccc;
	transform: translateY(-2px);
}
.bg .content .pub-middle .con .con-right ul li:last-child > a + a{
	margin-top: 14px;
}
.bg .content .pub-middle .con .con-right ul li:nth-child(-n+4){
	margin-bottom: 14px;
}
.bg .content .pub-middle .con .con-right ul li p.pic{
	position: relative;
	display: block;
	width: 170px;
	height: 140px;
	margin:0 auto;
	padding-top: 40px;
}
.bg .content .pub-middle .con .con-right ul li .pic .agio,
.bg .content .pub-middle .con .con-right ul li .pic .new{
	position: absolute;
	top: 0;
	left: calc(50% - 32px);
	display: block;
	width: 64px;
	height: 20px;
	color:#fff;
	font-size: 12px;
	background-color: #e53935;
	line-height: 20px;
}
.bg .content .pub-middle .con .con-right ul li .pic .new{
	background-color: #83c44e;
}
.bg .content .pub-middle .con .con-right ul li .title{
	margin-top: 22px;
	font-size: 14px;
	color:#333;
	line-height: 20px;
}
.bg .content .pub-middle .con .con-right ul li .desc{
	font-size: 12px;
	color:#b7b0c1;
	line-height: 20px;
}
.bg .content .pub-middle .con .con-right ul li .price{
	line-height: 40px;
}
.bg .content .pub-middle .con .con-right ul li .price span{
	font-size: 14px;		
}
.bg .content .pub-middle .con .con-right ul li .price span:nth-child(1){
	color:#ff6700;
}
.bg .content .pub-middle .con .con-right ul li .price span:nth-child(2){
	margin-left: 5px;
	text-decoration:line-through;
	color:#b7b0c1;
}
.bg .content .pub-middle .con .con-right ul li .last-top{
	width: 100%;
	height: 143px;
	padding-left: 30px;
	background-color: #fff;
	box-sizing:border-box;
	-moz-box-sizing:border-box ;
}
.bg .content .pub-middle .con .con-right ul li .last-top .price{
	color:#ff6700;
}
.bg .content .pub-middle .con .con-right ul li .last-top .l-t-left,
.bg .content .pub-middle .con .con-right ul li .last-bottom .l-t-left{
	float: left;
	width: 84px;
	text-align: left;
	margin-top: 25px;
}
.bg .content .pub-middle .con .con-right ul li .last-top .l-t-right,
.bg .content .pub-middle .con .con-right ul li .last-bottom .l-t-right{
	float: right;
	margin:32px 20px;
}
.bg .content .pub-middle .con .con-right ul li .last-bottom{
	width: 100%;
	height: 143px;
	padding-left: 30px;
	background-color: #fff;
	box-sizing:border-box;
	-moz-box-sizing:border-box ;
}
 
.bg .content .pub-middle .con .con-right ul li .assess{
 	position: absolute;
 	width: 100%;
 	height: 76px;
 	padding:8px 30px;
 	bottom: -76px;
 	left: 0;
 	background-color: #FF6700;
 	font-size: 12px;
 	color:#fff;
 	transition:all .2s linear;
 	box-sizing:border-box;
 	text-align:left;
 	
 }
.bg .content .pub-middle .con .con-right ul li:hover .assess{
 	bottom: 0; 	
 }
.bg .content .pub-middle .con .con-right ul li .assess .a-con{
	color:#fff;
 	line-height: 18px;
 	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
 }
.bg .content .pub-middle .con .con-right ul li .assess .author{
	margin:8px 0;
	color:rgba(255,255,255,.6);
} 
/*公共的样式  结束*/



/*recommend start*/
.recommend{
	margin:20px auto;
}
.recommend .title{
	font-size: 22px;
	line-height: 40px;
}
.recommend ul li .title{
	margin-bottom: 0;
	line-height: 28px;
}
.recommend ul li .price{
	line-height: 28px;
}
.recommend ul li .desc{
	line-height: 32px;
	font-size: 14px;
}
.recommend ul li{
	height: 300px;
	background-color: #fff;
	transition:.4s;

}
.recommend ul li:hover,.hot ul li:hover{	
	margin-top: -2px;
	box-shadow: 0 8px 20px #ccc;
}
.recommend ul li a{
	margin-top:24px;
}
.recommend ul li:nth-child(-n+5){
	border:none;
	
}
/*recommend end*/

/*hot  start*/
.hot{
	width: 100%;	
	margin:20px auto;
}
.hot > .title{
	margin-bottom:20px ;
	line-height: 40px;
	font-size: 22px;
}
.hot ul{
	display: flex;
	justify-content: space-between;
}

.hot ul li{
	width: 296px;
	height: 415px;
	background-color: #fff;
	transition:.4s;
}
.hot ul li .imgbox{
	width: 100%;
	height: 220px;
}
.hot ul li .h-con{
	width: 100%;
	padding:28px 28px 23px;
	box-sizing:border-box;
}
.hot ul li .h-con .desc{
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 24px;
	color:#333;
	overflow: hidden;
	text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp: 3;
}
.hot ul li .h-con .auther{
	font-size: 12px;
	line-height: 28px;
	color:#b0b0b0;
}
.hot ul li .h-con .title .name{
	line-height: 28px;
	color:#333;
}
.hot ul li .h-con .title span.line{
	display: inline-block;
	width: 2px;
	height: 14px;
	margin:0 10px;
	background-color: #e0e0e0;
}
.hot ul li .h-con .title span.price{
	color:#ff6757;
	line-height: 28px;
	
}
/*hot end*/


/*substance  start*/
.substance{
	width: 100%;
	margin-bottom:20px;
}
.substance > .title{
	height: 60px;
	line-height: 60px;
	font-size: 22px;
}
.substance ul{
	display: flex;
	justify-content: space-between;
}
.substance ul li{
	width: 296px;
	height: 420px;
	padding:50px 0 25px 0;
	background-color: #fff;
	box-sizing:border-box;
	text-align: center;
	border-top:1px solid #ffac13;
	transition:.4s;
}
.substance ul li:hover{
	transform:translateY(-2px);
	box-shadow: 0 8px 20px #ccc;
}
.substance ul li:nth-child(2){
	border-top:1px solid #83c44e;
}
.substance ul li:nth-child(3){
	border-top:1px solid #e53935;
}
.substance ul li:nth-child(4){
	border-top:1px solid #2196f3;
}
.substance ul li .title{
	font-size: 16px;
	margin-bottom: 20px;
	color:#ffac13;
}
.substance ul li:nth-child(2) .title{
	color:#83c44e;
}
.substance ul li:nth-child(3) .title{
	color:#e53935;
}
.substance ul li:nth-child(4) .title{
	color:#2196f3;
}
.substance ul li .bottom{
	position: relative;
	height: 334px;
}
.substance ul li .bottom .name{
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color:#333;
}
.substance ul li .bottom .desc{
	width: 192px;
	margin:0 auto;
	font-size: 12px;
	line-height: 20px;
	color:#c1b0c1;
}
.substance ul li .bottom .price{
	margin: 16px 0 22px 0;
	font-size: 14px;
}
.substance ul li .bottom .imgbox{
	width: 216px;
	height: 154px;
	margin:auto;
}
.substance ul li .bottom .change{
	position: absolute;
	bottom: 15px;
	left:calc(50% - 41px);
	line-height: 10px;
}
.substance ul li .bottom .change > p{
	float: left;
	padding:10px;
}
.substance ul li .bottom .change span{
	display: block;
	float: left;
	width: 6px;
	height: 6px;
	
	border-radius:50%;
	background-color: #b0b0b0;
}
.substance ul li .bottom .change span.on{
	border:2px solid #ff6f0f;
	background-color: #fff;
	margin-top: -2px;
}
/*substance  end*/


/*video  start*/
.video{
	width: 100%;
	
}
.video > .title{
	height: 60px;
	line-height: 60px;
}
.video .title .t-left{
	float: left;
	font-size: 22px;
}
.video .title .t-right{
	float: right;
	font-size: 16px;
}
.video .title .t-right a > i{
	margin-left: 8px;
	font-size: 20px;
	color:#b0b0b0;
}
.video .con{
	width: 100%;
}
.video .con ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.video .con ul li{
	width: 296px;
	height: 285px;
	background-color: #fff;
	box-sizing:border-box;	
	transition: .4s;
	cursor:pointer;
}
.video .con ul li .imgbox{
	position: relative;
	width: 100%;
	height: 180px;
}
.video .con ul li .play{
	position: absolute;
	left: 20px;
	bottom: 10px;
	width: 32px;
	height: 20px;
	border:2px solid #fff;
	border-radius:12px;
	background-color: rgba(0,0,0,0.6);
	text-align: center;	
	cursor: pointer;
	transition:background-color .3s;
}
.video .con ul li:hover .play{
	width: 36px;
	height: 24px;
	background-color: #FF6700;
	border:none;
	line-height: 24px;
}
.video .con ul li:hover{
	transform:translateY(-2px);
	box-shadow: 0 8px 20px #ccc;
}
.video .con ul li .play > i{
	font-size: 16px;
	color:#fff;
	line-height: 20px;
	
}
.video .con ul li .word{
	padding:24px 0 29px 0;
	text-align: center;
}
.video .con ul li .word .title{
	font-size: 14px;
	color:#333;
	line-height: 27px;
}
.video .con ul li .word .desc{
	font-size: 12px;
	color:#b0b0b0;
	line-height: 25px;
}
/*video  end*/



/*bg end*/


/*footer  start*/
.footer{
	width: 100%;
}
.footer .serve{
	width: 100%;
	height: 272px;
	background-color: #fff;
}
.footer .serve .s-bg{
	width: 1226px;
	height: 272px;
	margin:0 auto;
}
.footer .serve .s-bg .top-list{
	display: flex;
	justify-content:space-between;
	height: 80px;
	padding:27px 0;
	border-bottom: 1px solid #e0e0e0;
	box-sizing: border-box;
}
.footer .serve .s-bg .top-list li{
	width: 243px;
	height: 25px;
	line-height: 25px;
	border-right:1px solid #e0e0e0;
	text-align: center;
	transition:color .3s;
	cursor: pointer;
}
.footer .serve .s-bg .top-list li:hover{
	color: #ff6700;
}
.footer .serve .s-bg .top-list li > i{
	margin-right: 7px;
	font-size: 20px;
}
.footer .serve .s-bg .top-list li:last-child{
	border-right:none;
}

.footer .serve .s-bg .bottom-list{
	float: left;
	padding:26px 0 34px 0;
}
.footer .serve .s-bg .bottom-list ul{
	float: left;
}
.footer .serve .s-bg .bottom-list ul li{
	width: 160px;
	font-size: 12px;
	line-height: 27px;
	color:#757575;
	cursor: pointer;
}
.footer .serve .s-bg .bottom-list ul li:first-child{
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 42px;
	color:#424242;
}
.footer .serve .s-bg .bottom-list ul li:nth-child(n+2):hover{
	color:#FF6700;
}
.footer .serve .s-bg .f-right{
	float: right;
	width: 245px;
	height: 112px;
	margin:40px 0 40px 0;
	border-left:1px solid #e0e0e0;
	line-height: 20px;
	text-align: center;
}
.footer .serve .s-bg .f-right .phone{
	font-size: 18px;
	color:#ff6700;
	margin-bottom: 5px;
}
.footer .serve .s-bg .f-right .time,.footer .serve .s-bg .f-right .tips{
	font-size: 12px;
	color:#616161;
}
.footer .serve .s-bg .f-right > a{
	display: inline-block;
	margin-top: 8px;
	padding:6px 8px;
	border:1px solid #ff6700;
	font-size: 12px;
	color:#ff6700;
}
.footer .serve .s-bg .f-right > a i{
	margin-right: 3px;
}
.footer .serve .s-bg .f-right > a:hover{
	background-color: #ff6700;
	color:#fff;
}
.footer .copy{
	width: 100%;
	height: 166px;
	background-color: #fafafa;
}
.footer .copy .c-bg{
	width: 1226px;
	padding:40px 0 0;
	margin:0 auto;
}
.footer .copy .c-bg .c-link{
}
.footer .copy .c-bg .c-link .c-logo{
	float: left;
	width: 57px;
	height: 57px;
	margin-right: 10px;
}
.footer .copy .c-bg .c-link .c-copy{
	float: left;
	font-size: 12px;
	line-height: 18px;
}
.footer .copy .c-bg .c-link .c-copy p{
	color:#b0b0b0;
}
.footer .copy .c-bg .c-link ul li{
	float: left;
	padding:0 4px;
	border-right:1px solid #b0b0b0;
	color:#757575;
	cursor: pointer;
}
.footer .copy .c-bg .c-link ul li:hover{
	color:#ff6700;
}
.footer .copy .c-bg .c-link ul li:last-child{
	border-right:none;
}
.footer .copy .c-bg .c-right{
	float: right;
}
.footer .copy .c-bg .c-right a{
	float: left;
	display: block;
	width: 85px;
	height: 28px;
	margin-left: 2px;
}
.footer .copy .c-bg .flag{
	width: 267px;
	height: 20px;
	margin:30px auto 0;
	background: url('../img/slogan2016.png') no-repeat center;
}
/*footer  end*/